body{
    /* display: flex; */
    /* flex-direction: row;   */
    /* min-height: 100vh; */
    background-color: #c7c7c77d !important;
}

p{
    margin: 0 !important;
}

.menu-bar{
    /* background: #bebebe; */
    width: 20vw;
    height: 100vh;
}

.products{
    /* background: #6193934f; */
    min-height: 100vh;
    /* width: 72vw; */
}
