<% layout('/layouts/boilerplate') -%>
<div class="navbar px-5 pt-5 pb-3 border-bottom border-2 border-secondary border-opacity-75">
    <div class="admin-panel">
      <a class="text-decoration-none text-dark fs-3 fw-semibold" href="/products">TIZEBags.</a>
    </div>
    <div class="navitem-wraper d-flex gap-5">
      <div class="nav-item d-flex gap-4">
        <a href="/" class="text-decoration-none text-secondary">Home</a>
        <a href="" class="text-decoration-none text-secondary">Products</a>
      </div>
      <div class="nav-item d-flex gap-4">
        <!-- <a href="" class="text-decoration-none text-secondary">Cart</a> -->
        <a href="" class="text-decoration-none text-secondary">Login</a>
      </div>
    </div>
  </div>

<div class="row mt-5 ">
    <div class="col-md-8 offset-md-2 offset-lg-3 col-lg-6">
        <form action="/user/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">User Name</label>
                <input name="username" type="text" class="form-control" id="username" required>
                <div class="valid-feedback">looks good!</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" type="text" class="form-control" id="email" required>
                <div class="valid-feedback">looks good!</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="password" required>
                <div class="valid-feedback">looks good!</div>
            </div>

            <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>