  <% layout('/layouts/boilerplate') -%>

<!-- menu-bar -->
<div class="container d-flex py-2 gap-3  flex-lg-row">
  <div class="menu-bar position-sticky d-none d-lg-block">
    <div>
      <div class="menu-middle-section row gap-3 px-2">
        <a href="" class="text-secondary text-decoration-none">All Products</a>
        <a href="" class="text-secondary text-decoration-none"><b>Create New Product</b></a>
      </div>
    </div>
  </div>

  <!-- create new product -->
  <div class="row new-product border-secondary w-100 ">
    <div class="border-bottom border-secondary border-opacity-50 p-4  text-center text-lg-start">
      <h2>Create New Product</h2>
    </div>
    <form method="POST" action="/products" enctype="multipart/form-data" class="col-md-10 col-lg-11 offset-md-1 offset-lg-0">
      <div class="product-details px-1 py-4">
        <h3>Product Details</h3>
        <div class="col col-lg-10">
          <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input
              type="file"
              name="product[image]"
              class="form-control bg-transparent border border-secondary"
              required
            />
          </div>

          <div class="mb-3">
            <input
              type="text"
              name="product[title]"
              class="form-control bg-transparent border border-secondary"
              placeholder="Product Title"
              required
            />
          </div>
          <div class="d-flex gap-3 mb-3 flex-column flex-sm-row">
            <input
              type="number"
              name="product[price]"
              class="form-control bg-transparent border border-secondary"
              placeholder="Product Price"
              required
            />
            <input
              type="text"
              name="product[discount]"
              class="form-control bg-transparent border border-secondary"
              placeholder="Discount Price"
              required
            />
          </div>

          <div class="col">
            <div class="product-details py-4">
              <h3>Panel Details</h3>
            </div>
            <div class="mb-3">
              <input
                type="text"
                name="product[bgcolor]"
                class="form-control bg-transparent border border-secondary"
                placeholder="Background color"
                required
              />
            </div>
            <div class="d-flex gap-3 mb-3 flex-column flex-sm-row">
              <input
                type="text"
                name="product[panelcolor]"
                class="form-control bg-transparent border border-secondary"
                placeholder="Panel color"
                required
              />
              <input
                type="text"
                name="product[textcolor]"
                class="form-control bg-transparent border border-secondary"
                placeholder="Text color"
                required
              />
            </div>

            <button class="btn btn-dark add-btn mb-5">Add Details</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
