<%layout('../layouts/boilerplate')-%>

<div>
   <h3>Product</h3>
   <p>Product Name: <%= product.title %></p>
   <p>Product Price: <%= product.price %></p>
   <a href="/products/<%= product._id%>/edit">Edit Details</a>
</div>